
.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-wrapper input {
  width: 100%;
  padding-right: 40px; /* Make space for the icon */
}

.toggle-password-visibility {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #ccc;
  font-size: 1.2rem;
  user-select: none;
}

.toggle-password-visibility:hover {
  color: #fff;
}
